server:
  port: 18080

spring:
  application:
    name: prompt_ev
  # SQLite Database Configuration
  datasource:
    url: jdbc:sqlite:prompt_ev.db
    driver-class-name: org.sqlite.JDBC
    username: ""
    password: ""

  # JPA Configuration
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
